.container{
    width: auto;
    height: 850px;
    background: url('../image/bg-marvel.jpg') no-repeat 50% 30%;
    background-size: cover;
    opacity: .7;
    margin: 0 auto;
}

.card-wrapper{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.card{
    width: 400px;
    height: calc(100vh - 200px);
    margin: 0 auto;
    background-color:red;
    border: 5px solid black;
}

.sub-card{
    width:200px;
    height:200px;
    background-color:blue;
    border: 5px dashed orange;
}