.container{
    width: auto;
    height: 850px;
}

.card{
    width: 400px;
    height: 600px;
    margin: 0 auto;
    background-color:red;
    border: 5px solid black;
}

.sub-card{
    width:200px;
    height:200px;
    background-color:blue;
    border: 5px dashed orange;
}