body {
  background-color: #f7f7f7;
}


main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 20vw;
  height: 100vh;
  background-color: #FFF;
  border-radius: 30px;
  margin: 0 50px;
  padding: 0 30px;
}

.container header {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.container header i {
  font-size: 20px;
}

.signer-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.signer-info img {
  border-radius: 50%;
}

.signer-info h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 40px 0 20px 0;
}

.signer-info h4 {
  color: gray;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.btn-wrapper .shu-btn {
  width: 100px;
  height: 35px;
  margin: 0 5px;
  border-radius: 10px;
  border: 0;
  outline: 0;
  background-color: #000;
  color: #FFF;
}

.btn-wrapper .like-wrapper {
  position: relative;
}

.btn-wrapper .like-wrapper i {
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-15%, -50%);
}

.btn-wrapper .like-btn {
  width: 100px;
  height: 35px;
  margin: 0 5px;
  border-radius: 10px;
  border: 0;
  outline: 0;
  text-indent: 20px;
  background-color: #FFF;
  color: gray;
}

.list-wrapper {
}

.list-wrapper .list {
  display: flex;
  margin-bottom: 20px;
  padding: 10px 20px;
}

.list-wrapper .list:nth-child(2) {
  background-color: skyblue;
  border-radius: 10px;
}

.list-wrapper .list img {
  border-radius: 10px;
  width: 50px;
  height: 50px;
}

.list-wrapper .list .list-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 20px;
}

.list-wrapper .list i {
  margin-left: auto;
  align-self: center;
  color: gray;
}

.player {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  border-radius: 40px;
  background-color: #000;
}

.player .player-content {
  padding: 10px 20px;
}

.player .player-content h1 {
  color: #FFF;
}

.player .player-function {
  padding: 10px 20px;
  align-self: center;
}

.player .player-function i {
  color: #FFF;
  margin: 0 5px;
}